.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  height: 100vh;
}

.modalWindow {
  /* background: url('https://besthqwallpapers.com/Uploads/17-2-2018/41098/thumb2-zero-two-manga-anime-characters-pink-hair-darling-in-the-franxx.jpg')
    no-repeat center center fixed; */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  border: 2px solid black;

  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  position: relative;

  box-shadow: 0px 5px 10px 0px black;
}

.authInfo {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  row-gap: 25px;
}

.buttons {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 0;
  padding-bottom: 25px;
}

.text {
  position: absolute;

  top: 0;

  color: white;
  text-shadow: 3px 1px 5px black;
}
