.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.322);
  height: 25px;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: var(--font-family);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.308);
}
