.button {
  max-height: 50px;
  max-width: 200px;
  min-width: 50px;

  border: 2px solid white;

  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;

  text-align: center;
  color: white;
  font-size: large;

  transition: 250ms;

  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);
}

.buttonDefault:hover {
  background-color: rgba(131, 255, 139, 0.8);
}

.buttonDefault:active {
  color: rgb(207, 207, 207);
  background-color: rgba(100, 192, 106, 0.8);
}

.buttonBlue:hover {
  background-color: rgba(131, 203, 255, 0.8);
}

.buttonBlue:active {
  color: rgb(207, 207, 207);
  background-color: rgba(104, 161, 201, 0.8);
}
