.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.userBlock {
  position: absolute;
  right: 0;
  margin-right: 25px;
}

.userImage {
  border-radius: 25px;
  height: 80%;
  width: 65px;
}

.userMenuUnvisible {
  position: relative;
  opacity: 0;
}

.userMenuVisible {
  position: relative;
}

.userMenuList {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.37);
  width: 65px;
  max-height: 150px;
  min-height: 75px;
  border-radius: 5px;
}

.userMenuItem {
  color: black;
}

.userMenuItem:hover {
  cursor: pointer;
  text-shadow: 0px 0px 2px rgb(150, 150, 255);
}
